---
BasedOnStyle: LLVM
IndentWidth: 4
AllowShortCaseLabelsOnASingleLine: true
ColumnLimit: 100
FixNamespaceComments: false
PointerAlignment: Left
AlignConsecutiveDeclarations: true
BreakBeforeBraces: Stroustrup
AlwaysBreakTemplateDeclarations: true